@media (max-width: 768px) {
    body {
      background-size: contain;
    }
  }

.flash {
    background-color: #e22e2e;
    color: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
}

body {
    background-image: url("../img/signup.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: inherit;
    font-family: 'Merriweather', serif;
    color: #272444; /* dark blue */
}

h1 {
    text-align: center;
    color: #272444; /* dark blue */
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-top: 40px;
}

form {
    width: 400px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8); /* transparent white */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* shadow */
    font-family: 'Montserrat', sans-serif;
    color: #272444; /* dark blue */
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    color: #272444; /* dark blue */
}

button {
    background-color: #3DB3AD; /* green */
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
}

button:hover {
    background-color: #2E8B89; /* darker green on hover */
}

.container {
    padding: 16px;
}

/* rest of your code */