<!DOCTYPE html>
<html>
<head>
	<title>Sign Up</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat|Merriweather&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css')}}">
</head>
<body>
	<h1>Sign In</h1>
	
	<form action="{{ url_for('login') }}" method="post">
		<div class="container">
			<label for="email"><b>Enter Your E-mail Address:</b></label>
			<input type="text" placeholder="Enter Email" name="email" required>

			<button type="submit">Verify and Send-OTP</button>
            <p>Forgot password <a href="#"> Click Here! </a> </p>
		</div>
	</form>
</body>
</html>
