<!DOCTYPE html>
<html>
<head>
	<title>Sign Up</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat|Merriweather&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/signin.css')}}">
</head>
<body>
	<h1>Sign In</h1>
	
	<form action="{{ url_for('login') }}" method="post">
		<div class="container">
			{% with messages = get_flashed_messages() %}
            {% if messages %}
				<div class="flash">
					{% for message in messages %}
                	{{ message }}
                	{% endfor %}
				</div>
            {% endif %}
    		{% endwith %}
			<label for="email"><b>Email</b></label>
			<input type="text" placeholder="Enter Email" name="email" required>

			<label for="password"><b>Password</b></label>
			<input type="password" placeholder="Enter Password" name="password" required>

			<button type="submit">Sign In</button>
            <p>Forgot password <a href="#"> Click Here! </a> </p>
		</div>
	</form>
</body>
</html>
